:root {
    --gold-foreground: #ffcc00;
    --gold-foreground-etched: #806400;
    --gold-background-dark: #261F00;
    --gold-background-light: #FFFCF2;
    --gold-background-accent: #FFF2BF;

    --hacker-background: #001a00;
    --hacker-foreground: #00ff00;
}

body {
    background-color: var(--gold-background-dark);
}

.main {
    display: flex;
    width: 100%;
}

.layout {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    padding: 50px 5%;
}

.content {

    width: 100%;
    box-sizing: border-box;

    margin-bottom: 5%;
    padding: 5% 10%;

    border: 10px inset var(--gold-foreground);
    border-radius: 20px;

    color: var(--gold-foreground-etched);
    text-shadow: var(--gold-foreground) -1px -1px 2px;

    box-shadow: var(--gold-foreground) 10px 10px 25px;

    background: linear-gradient(
            -45deg,
            var(--gold-background-light) 0%,
            var(--gold-background-accent) 100%
    );
}

.subcontent {

}

.sidebar {
    width: 200px;
    background-color: magenta;
}